# flask-cors
# Flask[async]
# pymupdf
# google-generativeai
# langchain
# faiss-cpu
# langchain-google-genai
# gunicorn
# Pillow
# torch
# typing-extensions
# transformers
# numpy==1.24.3
# opencv-python-headless
# dotenv
# sentencepiece
# protobuf>=4.25.3,<6.28.0

Flask[async]
flask-cors
pymupdf
google-generativeai
langchain
faiss-cpu
langchain-google-genai
gunicorn
Pillow
typing-extensions
numpy==1.24.3
opencv-python-headless
python-dotenv
langchain-text-splitters